{% extends 'base.html.twig' %}

{% block title %}Hello PlatController!{% endblock %}

{% block body %}
<div class="row">
  {% for plat in plats %}
  <div class="card col-3">
    <div class="card-header">
      <h5 class="card-title">{{plat.name}}</h5>
    </div>
    <div class="card-body">
      {% for image in plat.platImages %}
        <img class="card-img" src="{{asset('assets/images/plat_images/' ~ image.imageName)}}" alt="">
        {{ include('plat/_delete_image_btn.html.twig')}}
      {% endfor %}
      <p class="card-text">{{plat.content}}</p>
      {{ include('plat/_add_image_btn.html.twig')}}
    </div>
    <div class="card-footer">
      {{ include('plat/_update_plat_btn.html.twig')}}
      {{ include('plat/_delete_plat_btn.html.twig')}}
    </div>
  </div>
  {% endfor %}
</div>
{{include('plat/_create_plat_btn.html.twig')}}
{% endblock %}
